.nav-wrapper {
  padding: 0 2rem;
}

.brand-logo img {
  max-width: 60px;
  vertical-align: baseline;
}

.price {
  font-size: 2rem;
}

.course {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course h1 {
  margin-bottom: 2rem;
}

.course img {
  max-width: 600px;
  height: auto;
}

.course .price.big {
  font-size: 2.5rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-action.with-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form {
  margin-bottom: 2rem;
}
